<GridLayout
  ripple
  marginRight="8"
  borderRadius="5"
  rows="*"
  columns="auto"
  (tap)="openDd()"
  *ngIf="loaded"
>
  <DropDown
    #dropDown
    class="drop-down"
    itemsTextAlignment="center"
    itemsPadding="10"
    [items]="itemsName"
    [(ngModel)]="selectedIndex"
    (selectedIndexChanged)="onSelectedIndexChanged($event)"
  ></DropDown>

  <FlexboxLayout alignItems="center" padding="5" paddingLeft="2">
    <label
      [text]="icon | fonticon"
      class="mdi"
      [color]="currentIconColor"
    ></label>
    <label [text]="itemsName[selectedIndex]" [fontSize]="labelSize" [marginLeft]="labelMargin"></label>
  </FlexboxLayout>
  <StackLayout [background]="currentIconColor" class="dd-overlay"></StackLayout>
</GridLayout>
