<StackLayout
  padding="0 10 10"
  [ngClass]="{'display-none': !(showComponent$ | async)}"
>
  <!-- Text Field -->
  <TextField
    #addTextField
    hint="What would you like to do?"
    [(ngModel)]="newGoalTitle"
    (returnPress)="closeAdding()"
  ></TextField>

  <!-- Action Row -->
  <FlexboxLayout
    justifyContent="space-between"
    alignItems="center"
    paddingTop="2"
  >
    <!-- Drop downs -->
    <FlexboxLayout>
      <app-priority></app-priority>
      <app-deadlines></app-deadlines>
      <app-repeats></app-repeats>
    </FlexboxLayout>

    <!-- Send icon -->
    <label
      [color]="newGoalTitle ? '#2196F3' : '#9E9E9E'"
      (tap)="onSend()"
      [text]="'mdi-send' | fonticon"
      class="mdi"
    ></label>
  </FlexboxLayout>
</StackLayout>
