.bottom-navigation {
  text-align: center;
  border-top-color: #dae1e7;
  border-top-width: 1;
}

.icon,
.label {
  color: #c1c1c1;
}

.icon {
  font-size: 20;
}

.label {
  font-size: 10;
}

.selected {
  .icon,
  .label {
    color: #22292f;
  }
}
