/* Add mobile styles for the component here.  */
.bottom-navigation {
  text-align: center;
  border-top-color: #dae1e7;
  border-top-width: 1;
  // margin: 10px 0;
}
.icon,
.label {
  color: #c1c1c1;
}

.icon {
  font-size: 20;
}

.label {
  font-size: 10;
}

.selected {
  .icon,
  .label {
    color: #22292f;
  }
}



.tmpTest {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.tmpTest:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tmpTest:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}