<StackLayout
  *ngFor="let item of goals"
  orientation="horizontal"
  [ngClass]="{'goal__done': item.done}"
  columns="auto, *"
  ripple
  (tap)="onLayoutTap(item)"
  background="#fff"
>
<!-- <mat-checkbox class="example-margin" [(ngModel)]="item.done">Checked</mat-checkbox> -->

<label [text]="item.done"></label>
  <CheckBox
    #checkbox
    [checked]="item.done"
    [fillColor]="item.priority.color"
    (checkedChange)="itemChanged(item, $event.value)"
  ></CheckBox>

  <!-- <app-checkbox
    [checked]="item.done"
    (checkedChange)="itemChanged(item.id, $event)"
    [fillColor]="item.priority.color"
  ></app-checkbox> -->

  <FlexboxLayout
    flexDirection="column"
    justifyContent="center"
    [ngClass]="{'padding-10': item.desc, 'padding-16': !item.desc}"
  >
    <label class="label-name" [text]="item.name"></label>
    <label
      *ngIf="item.desc && !item.done"
      class="label-text"
      [text]="item.desc"
    ></label>
  </FlexboxLayout>
</StackLayout>

<!-- <ListView #myListView [items]="goals">
  <ng-template let-item="item">
    <GridLayout
      [ngClass]="{'goal__done': item.done}"
      columns="auto, *"
      ripple
      (tap)="onLayoutTap(item)"
      background="#fff"
    >
      <StackLayout col="0" verticalAlignment="center" padding="0 10">
        <app-checkbox
          [value]="item.done"
          (changed)="itemChanged(item, $event)"
          [fillColor]="item.priority.color"
        ></app-checkbox>
      </StackLayout>

      <FlexboxLayout
        col="1"
        flexDirection="column"
        justifyContent="center"
        [ngClass]="{'padding-10': item.desc, 'padding-16': !item.desc}"
      >
        <label class="label-name" [text]="item.name"></label>
        <label
          *ngIf="item.desc && !item.done"
          class="label-text"
          [text]="item.desc"
        ></label>
      </FlexboxLayout>
    </GridLayout>
  </ng-template>
</ListView> -->
